
services:
  postgres:
    image: postgres:15
    container_name: chai_postgres
    environment:
      POSTGRES_DB: chaidb
      POSTGRES_USER: chai
      POSTGRES_PASSWORD: chai123
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5433:5432"   # host:container
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chai -d chaidb"]
      interval: 5s
      timeout: 5s
      retries: 10

  pipeline:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chai_pipeline
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DB_URI: postgresql+psycopg2://chai:chai123@postgres:5432/chaidb
    working_dir: /app
    volumes:
      - .:/app
    command: ["python", "-m", "pipeline.run_pipeline"]

  airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: chai_airflow
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__FERNET_KEY: "H9e82sVY9U3h7lPr9Z3wPjxZUPe0ijoqGBw1xa7Qxq0="
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://chai:chai123@postgres:5432/chaidb
      AIRFLOW__WEBSERVER__SECRET_KEY: "some_long_random_secret_string_here"
      DB_URI: postgresql+psycopg2://chai:chai123@postgres:5432/chaidb
      PYTHONPATH: /opt/airflow  
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - .:/opt/airflow
    working_dir: /opt/airflow
    ports:
      - "8080:8080"
    command: >
      bash -c "
        airflow db init || true;
        airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com || true;
        rm -f /opt/airflow/airflow-webserver.pid;
        airflow webserver --port 8080 & airflow scheduler
      "
  metabase:
      image: metabase/metabase:latest
      container_name: chai_metabase
      restart: unless-stopped
      ports:
         - "3000:3000"
      environment:
       MB_DB_FILE: /metabase-data/metabase.db
      volumes:
        - ./metabase-data:/metabase-data

  metabase-init:
    build:
      context: metabase-init    # directory containing init-metabase.sh & Dockerfile
    depends_on:
      - metabase
    environment:
      MB_HOST: metabase
      MB_PORT: 3000

      MB_SITE_NAME: "CHAI Weather Analytics"

      MB_ADMIN_EMAIL: "chai.admin@example.com"
      MB_ADMIN_PASSWORD: "ChaiAdmin#2025"
      MB_ADMIN_FIRST_NAME: "Chai"
      MB_ADMIN_LAST_NAME: "Admin"

      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: chaidb
      DB_USER: chai
      DB_PASS: chai123
    restart: "no"

